@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background {
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #DBDBDF 10%, #d3d3d3 20%, #DBDBDF 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}
.testImage,
.testImage.animated-background {
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #DBDBDF 10%, #d3d3d3 20%, #DBDBDF 33%);
  background-size: 800px 104px;
  height: 208px;
  position: relative;
}
.testText,
.testText.animated-background {
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #DBDBDF 10%, #d3d3d3 20%, #DBDBDF 33%);
  background-size: 800px 104px;
  position: relative;
}